/* color menu item */
#icardExtension {
  color: rgb(100%, 0%, 0%);
}

/* make options dialog inherit background color from theme */
#icardOptions {
  -moz-appearance: inherit !important;
} 

/* options dialog navigation icons; they have to be 32x32 */
#icardOptions radio[pane=icard_paneOptions] {
  list-style-image: url("chrome://browser/skin/preferences/Options.png"); 
  -moz-image-region: rect(0px, 32px,  32px, 0px);
}

#icardOptions radio[pane=icard_paneAbout] {
  list-style-image: url("chrome://icard/skin/w2o32x32.png"); 
}
